<div id="cartonJaune" class="jaune">
	<table width="100%">
		<tr><td align='left'>
	<?php
		echo $html->image(
					"picto/tournee2.png",
					array(
						"url" => array(
							"controller" => "QuizzSessions",
							"action" => "index"
						)
					)
				);
		echo "</td><td align='right'>";
		echo $html->image(
					"picto/baisse2.png",
					array(
						"url" => array(
							"controller" => "Scores",
							"action" => "moinsDeux",
							$message
						)
					)
				);
	?>
	</td></tr>
	</table>
</div>