body {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
} 

a img {
	border:none;
}

a {
	text-decoration: none;
	color:black;
}


.tableau {  }
        .tableau .first { background: none; }

        .tableau .entete {
                background-color: #5E5E5E;
                background-image: none;
                height: 25px;
                line-height: 25px;
                color: white;
                text-align: center;
        }
	

	.tableau .status { width: 30px; }
	.tableau .status_0 { background-image: url(../img/ko.png); background-repeat:no-repeat; background-position:center;}
	.tableau .status_1 { background-image: url(../img/ok.png); background-repeat:no-repeat; background-position:center;}
	.tableau .ods { background-image: url(../img/ods.png); background-repeat:no-repeat; background-position:center;}
	.tableau .xml { background-image: url(../img/xml.png); background-repeat:no-repeat; background-position:center;}
	.tableau .edit { background-image: url(../img/edit.png); background-repeat:no-repeat; background-position:center;}

	.tableau .bg_1 { background-color:#EBEBEB; }
	.tableau .bg_0 { background-color:#FFFFFF; }
	.tableau .question {
		background-image: url(logo_dude.jpg);
	}
	.tableau .team {
	}
	.tableau .nomTeam {
		font-size: 20px;
	}
	.tableau .cpt {
		font-size: 35px;
	}
	.tableau .carton {
		font-size: 20px;
		vertical-align:top;
		background-image: url(picto/card.png);background-repeat:no-repeat; background-position:center;
	}

	.tableau span {
		display: block;
		width: 16px;
		height: 16px;
		text-indent: -5000px;
		margin-left: 7px;
	}

.tabQuestion .manche {
	font-style:italic;
	font-size:30px;
	text-align:right;
	vertical-align:top;
}

.tabQuestion .buzzteam {
	font-size:30px;
	text-align:center;
	vertical-align:top;
}

.tabQuestion .affQu {
	text-align:left;
	font-size:60px;
	vertical-align:top;
	text-indent:80px;
}

.tabQuestion .nomTeam {
	font-size:50px;
	background-image: url(picto/rouge2.png);
	background-repeat:no-repeat;
}

.tabQuestion .info {
	font-size:30px;
}

.pqu {
	margin-left:50px;
}

.tabQuestion .photo {
	text-align: center;
}

.theme {
	font-size: 30px;
	margin-left: -30px;
	font-weight: bold;
}
.etudiant { width: 80px; text-align:center; }

.soustableau {width: 400px;}
	.soustableau .entete {
                background-color: #5E5E5E;
                background-image: none;
                height: 25px;
                line-height: 25px;
                color: white;
                text-align: center;
        }

.buzz {
	top: 2%;
	left:25%;
	border:1px solid black;
	border-radius: 10px 10px 10px 10px;
	position:fixed;
	width:800px;
	height: 100px;
	background-color:red;
}
	.buzz p {
		font-size:50px;
		text-align:center;
		margin-top:20px;
		color:white;
		text-decoration: blink;
	}
	.buzz a {
		color:white;
	}

.jaune {
	margin-left:25%;
	margin-top :100px;
	border:1px solid black;
	border-radius: 10px 10px 10px 10px;
	position:fixed;
	width:500px;
	height: 300px;
	background-color:red;
}

.teamDiv {
	margin-top:2%;
	margin-left:2%;
	background-color:#EBEBEB;
	border-radius: 20px 20px 10px 10px;
}
	.teamDiv p {
		text-align:center;
		font-size:15px;
		font-weight:bold;
		font-style:italic;
		margin-top:0px;
	}


#pan {
	background-color: rgb(229, 105, 16);
	text-align: center;
	font-style: italic;
}