body {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
} 

.menu { height: 30px;}
	.menu td {
		background-color: #ebebeb;
		width: 120px;
		height: 40px;
		text-align: center;
		text-decoration: none;
	}
	.menu a {
		text-decoration: none;
		color: #5E5E5E;
	}
	
	.menu .select {
		background-color: #5E5E5E;
	}
	.menu .select a {
		color:white;
	}
	.menu .deco { 
		background-image: url(../img/deco.png);
		background-repeat:no-repeat;
		background-position:right;
		background-color: white;
		width: 50px;
	}
	.menu span {
		display: block;
		width: 16px;
		height: 16px;
		text-indent: -5000px;
		margin-left: 7px;
	}



.ssmenu { height: 30px; }
	.ssmenu td {
		background-color: #ebebeb;
		width: 180px;
		text-align: center;
		text-decoration: none;
	}
	.ssmenu a {
		text-decoration: none;
		color: #5E5E5E;
	}
	.ssmenu .select {
		background-color: #5E5E5E;
	}
	.ssmenu .select a {
		color:white;
	}

.bg_1 { background-color:#EBEBEB; }

.border {
 	border:1px solid black;
	border-radius: 10px 10px 10px 10px;
 }

.headTab {
	background-color: #5E5E5E;
	height: 30px;
	text-align: center;
	font-size:15px;
	font-weight:bold;
	line-height: 25px;
	color: white;
	border-radius: 10px 10px 0 0;
}

.textQu {
	width:350px;
}

.tableau { 
		width: 958px;
	}
	.tableau a {
			text-decoration: none;
			color: #5E5E5E;
		}

        .tableau .first { background: none; }

        .tableau .entete {
                background-color: #5E5E5E;
                background-image: none;
                height: 25px;
                line-height: 25px;
                color: white;
                text-align: center;
        }
	
	.tableau td {height:30px;}

	.tableau .bind { width: 90px; text-align: center;}
	.tableau .status { width: 30px; }

	.tableau .bg_1 { background-color:#EBEBEB; }
	.tableau .bg_0 { background-color:#FFFFFF; }

	.tableau .haut {width: 30px; background-image: url(../pictos/haut.png);}
	.tableau .bas {width: 30px; background-image: url(../pictos/bas.png);}

	.tableau span {
		display: block;
		width: 16px;
		height: 16px;
		text-indent: -5000px;
		margin-left: 7px;
	}
	.tableau .vert {
		color: green;
	}
	.tableau .gris {
		color: grey;
	}

	.tableau .fondRed {background-color:red;}
	.tableau .fondGreen {background-color:green;}

.ods { background-image: url(../img/ods.png); background-repeat:no-repeat; background-position:center;}


.error {background-color:#fb0000; }

.tabFichiers td {
		height: 10px;
	}

.etudiant { width: 80px; text-align:center; }

.soustableau {width: 400px;}
	.soustableau .entete {
                background-color: #5E5E5E;
                background-image: none;
                height: 25px;
                line-height: 25px;
                color: white;
                text-align: center;
        }

.legende {
	color: grey;
	font-style:italic;
}

a.info {
   position: relative;
   color: black;
   text-decoration: none;
   border-bottom: 1px gray dotted; /* on souligne le texte */
}
a.info span {
   display: none; /* on masque l'infobulle */
}
a.info:hover {
   background: none; /* correction d'un bug IE */
   z-index: 500; /* on définit une valeur pour l'ordre d'affichage */

   cursor: help; /* on change le curseur par défaut en curseur d'aide */
}
a.info:hover span {
   display: inline; /* on affiche l'infobulle */
   position: absolute;

   white-space: nowrap; /* on change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non-désiré */

   top: 30px; /* on positionne notre infobulle */
   left: 20px;

   background: white;

   color: green;
   padding: 3px;

}
