<table>
<tr class="menu">
	<?php if($this->Session->read('Auth.User.group_id') == 1) { ?>
	<td><?php echo $this->Html->link('Quizz',array('controller' => 'QuizzSessions','action' => 'index')); ?></td>
		<?php
		if(!empty($adminCurrentQuizz)) { ?>
			<td><?php echo $this->Html->link('Equipes',array('controller' => 'Teams','action' => 'index')); ?></td>
			<td><?php echo $this->Html->link('Manches',array('controller' => 'Rounds','action' => 'index')); ?></td>
		<?php } ?>
	<?php } ?>


	<td><?php echo $this->Html->link('Questions',array('controller' => 'Questions','action' => 'index')); ?></td>
	<td><?php echo $this->Html->link('Logout',array('controller' => 'Users','action' => 'logout')); ?></td>
</tr>
</table>
<hr><br>