<?php //Page d'affichage des equipes ?>
<table width="100%" >
	<?php foreach($listEquipes as $equipe) { ?>
		<tr><TD width="100%">
			<table width="100%">
				<TR>
					<TD width="40px">
						<?php
						if($equipe['Score']['red_card'] == 0) {
							$image = "biere.png";
						}
						else {
							$image = "empty.png";
						}
						echo $html->image(
							$image,
							array(
								"url" => array(
									"controller" => "Scores",
									"action" => "addPoint",
									$equipe['Team']['id']
								)
							)
						);
						?>
					</TD>
					<TD class="nomTeam" align="left"><?=$equipe['Team']['name']?></TD>
					<td class="cpt" align="right">
						<?=$equipe['Score']['point_score']?>
					</td>
					<td width="10px">
					<table height="50px" >
						<tr><TD>
							<?php
							echo $html->image(
								"picto/fuck.png",
								array(
									"url" => array(
										"controller" => "Scores",
										"action" => "addRed",
										$equipe['Team']['id']
									)
								)
							);
							?>
						</TD></tr>
						<tr><TD>
							<?php
							echo $html->image(
								"picto/miniC.gif",
								array(
									"url" => array(
										"controller" => "Scores",
										"action" => "addYellow",
										$equipe['Team']['id']
									)
								)
							);
							?>
						</TD></tr>
					</table>
					</td>
				</tr>
				</form>
			</table>
		</TD></tr>
	<?php } ?>
</table>