<table>
<?php
	foreach($listeRound as $round) { ?>
		<tr><td>
			<?=$round['Round']['name']?> : 
		    </td><td>
			<?=$form->create('Round', array('action'=>'launch'))?>
			<?=$form->hidden( 'Round.id', array( 'value' => $round['Round']['id'] ) )?>
			<?=$form->end('Lancer')?>
		</td></tr>
<?php
	}
?>
</table>