<div class="next_question"><?php
//pr($infoQuestion);
echo $form->create('QuizzSession', array('action'=>'nextQuestion'));
echo $form->end('Question Suivante');
?></div>
<table width="100%" height="100%" class="tabQuestion">
<tr><TD class="affQu">
	<?php if($infoQuestion['Question']['type'] == 1) {?>
		<p class="theme"><?=$infoQuestion['Theme']['name']?> : </p>
		<p class="pqu"><a href="#" onclick="$('pan').show();"><?=$infoQuestion['Question']['question_text'];?></a></p>
	<?php } 
	else if($infoQuestion['Question']['type'] == 2) { ?>
		<p class="pqu"><a href="#" onclick="$('pan').show();"><img src="IMAGES/<?=$infoQuestion['Question']['html']?>" height="400"></a></p>
	<?php } 
	else if($infoQuestion['Question']['type'] == 3) { ?>
	    <br><br>
		<p style="font-size:15px;margin-top=-30px"><?=$infoQuestion['Question']['html']?></p>
	<?php } ?>
	<p id="pan" style="display: none;" onclick="$('pan').hide();"><?=$infoQuestion['Question']['answer_text'];?></p>
</TD></tr>
</table>
