<?php
	/*if(isset($play) && $play == 1) { ?>
		<script type="text/javascript">
			var dewp = document.getElementById("dewplayer");
			if(dewp!=null) dewp.dewplay();
		</script>
	<?php } */?>

<?php
if(isset($message)) { ?>
	<div id="teamBuzz" class="buzz">
		<p>
		<?php
			/*echo $this->Html->link(
					$message,
					array(
						'controller' => 'QuizzSessions',
						'action' => 'unBuzz'
					)
				);*/
			echo $ajax->link(
					$message,
					array(
						'controller' => 'QuizzSessions',
						'action' => 'unBuzz'
					)
				);
		?>
		</p>
	</div>
<?php
	} ?>
